<form class="container">
  <div class="col-md-10">
    <section class="col-md-6">
      <div class="site-content">
        <h2 style="text-align: center;">Calculadora Angular</h2>
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label class="control-label">N1</label>
              <input class="form-control" type="number" name="n1" [(ngModel)]="n1" >
            </div>
            <div class="form-group">
              <label class="control-label">N2</label>
              <input class="form-control" type="number" name="n2" [(ngModel)]="n2" >
            </div>

            <div class="form-group buttons">
            <button class="content-button -secondary" (click)="sum()">Somar</button>
            <button class="content-button -secondary" (click)="subt()">Subtrair</button>
            <button class="content-button -secondary" (click)="mult()">Multiplicar</button>
            <button class="content-button -secondary" (click)="div()">Dividir</button>
            </div>

            <div class="form-group">
              <label class="control-label">Resultado</label>
              <input class="form-control"  [value]="resultado">
            </div>

        </form>
        </div>
      </div>
    </section>
  </div>
</form>
